
header{
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/background\ contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
}


.Logo-principal{
        
    width: 10%;
    height: auto;
}

.solicitud-cotizacion {
    font-size: 30px;
    color: #ff0000;
}