@media only screen and (max-width: 500px) {

    
    *{
        font-family: 'Times New Roman', Times, serif;
    }
    
    
    header{
        display: flex;
    flex-direction: column;
        background-image: url(../imagenes/Imagen\ principal\ de\ una\ playa.jpg);
        background-repeat: no-repeat;
        background-position: center;
        justify-content: space-between;
        height: 50vh;
        width: 100%;
        margin-bottom: 2rem;
    }
    
    
    p{
        font-size: 140%;
        text-align: center;
        
    }
    
    h1{
        color: rgb(0, 0, 255);
        font-size: 200%;
        text-align: center;
    }
    
    h2{
        font-size: 175%;
        color: rgb(255, 0, 0);
        text-align: center;
    }
    
    a{
        font-size: 150%;
        text-decoration: none;
        width: 10rem;
        height: auto ;
    }
    
    .Logo-principal{
        
        width: 20%;
        height: auto;
    }

    
    
    
    input{
        font-size: 100%;
        text-align: center;
    }
    
    strong{
        color: rgb(0, 0, 255);
    }
    
    
    
    .menu{
        display: flex;
        
        justify-content: right;
    }
    
    .imagenprincipal{
        width: 100%;
        height: auto;
        margin-left: 0;
        text-align: center;
    }
    
    .contenedor-imagenes-principales{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        justify-content: space-between;
        
        
    }
    
    .contenedor-imagenes-principales img{
        
    }
    
    
    .imagensudamerica{
        margin-right: 0;
        
    }
    
    .bandera-españa{
        width: 100%;
        height: 100%;
        
    }
    
    .imageneuropa{
        width:200px;
        height: 200px;
        margin: 0 ;
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {


}

@media only screen and (min-width: 961px) {


}
    
    