header{
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/background-sudamerica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
}

.Logo-principal{
        
    width: 10%;
    height: auto;
}

.imagen-sudamerica{
    
    width: 30%;
    height: auto;
    margin: 3rem;
    
}

.sudamerica, h1, h2, p {
    text-align: center;
}